# Environment
NODE_ENV=development

# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sarvadhi_community
DB_USER=postgres
DB_PASSWORD=Harsh@123

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Google OAuth (for future implementation)
GOOGLE_CLIENT_ID=24980858525-fpjqqn80c54ee7gkecb6hesoalc3q9c9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# CORS
ALLOWED_ORIGINS=http://localhost:19006,http://localhost:3000

CLOUDINARY_URL=cloudinary://664235928533294:Rac2V6iKrdq7tAYBBxKg_jsfBxg@dmdxw4wkp

